html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.manuPrinc {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    background-color: blue;
}

.menusecud {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    background-color: yellow;
}